@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile__view_only {
  display: none;
}

.text__msg_border_style {
  border-radius: 15px;
  border-bottom-right-radius: 5px;
}
.text__msg_border_style_chat {
  border-radius: 15px;
  border-bottom-left-radius: 5px;
}

.ai__grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 6fr;
  grid-template-areas: "menuTray chat";
  gap: 1.25rem;
}

#menuSection {
  grid-area: menuTray;
}
#chatSection {
  grid-area: chat;
}

.highlight__element_anim {
  animation: element-scale-anim 0.5s infinite ease-in-out;
}

@keyframes element-scale-anim {
  0% {
    scale: 1;
  }
  25% {
    scale: 1.0125;
  }
  50% {
    scale: 1.025;
  }
  75% {
    scale: 1.0125
  }
  100% {
    scale: 1;
  }
}

@media screen and (max-width: 768px) {
  .mobile__view_only {
    display: block;
  }
  .desktop__view_only {
    display: none;
  }

  .ai__grid {
    display: flex;
    flex-direction: column;
  }

  #menuSection {
    display: none;
  }
}

